@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Tela\ verde.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#btn{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #6AB1E4;
    font-family: Merriweather;
    margin-top: 1.5%;
    margin-left: 4%;
}
a{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: #9B6847;
    transition: 0.8s;
}
#btn:hover{
    color: #9B6847;
    cursor: pointer;
    background-color: white;
    border: solid 2px #9B6847;
    transition: 0.8s;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: solid 3px rgb(1, 143, 39);
}
.informacoes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    height: 610px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    gap: 200px;
    background-color: red;
}
.usuario{
    margin-top: 4%;
    background-color: yellow;
}
.config{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 500px;
    height: 500px;
    background-color: aqua;
}