@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Tela\ verde.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.navegacao{
    background-image:url("./Branco2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid 2px black;
    width: 100%;
    height: 110px;
}
.abas{
    margin-left: 23%;
    margin-right: 10px;
    margin-top: -90px;
}
#imagem-logo{
    width: 100px;
    height: 100px;
    margin-left: 300px;
}
#sobre{
    background-color: white ;
    width: 240px;
    height: 80px;
    border: none;
    font-size: 35px;
    font-family: Merriweather;
    cursor: pointer;
}
#sobre:hover{
    color: #9B6847;
    transition: 0.8s;
}
#adocao{
    background-color: white ;
    width: 240px;
    height: 80px;
    margin-left: 80px;
    border: none;
    font-size: 35px;
    font-family: Merriweather;
    cursor: pointer;
}
#adocao:hover{
    color: #9B6847;
    transition: 0.8s;
}
#clinicas{
    background-color: white ;
    width: 240px;
    height: 80px;
    margin-left: 80px;
    border: none;
    font-size: 35px;
    font-family: Merriweather;
    cursor: pointer;
}
#clinicas:hover{
    color: #9B6847;
    transition: 0.8s;
}
#avaliacoes{
    background-color: white ;
    width: 240px;
    height: 80px;
    margin-left: 80px;
    border: none;
    font-size: 35px;
    font-family: Merriweather;
    cursor: pointer;
}
#avaliacoes:hover{
    color: #9B6847;
    transition: 0.8s;
}
.card-endereco{
    border: solid 3px rgb(1, 143, 39);
    box-shadow: 2px 4px 4px 0px rgb(1, 143, 39);
    border-radius: 10px;
    background-color: white;
    margin-top: 6%;
    margin-left: 23%;
    width: 1000px;
    height: 580px;
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: Merriweather;
    color: #9B6847;
    margin-top: 12%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    gap: 20px;
    padding: 2%;
}
#cidade{
    border: solid 2px #9B6847;
    border-radius: 5px;
    width: 800px;
    height: 50px;
    margin-right: 4px;
    outline: none;
    padding: 2%;
    color: #9B6847;
    font-family: Merriweather;
}
#cidade::placeholder{
    color: #9B6847;
    font-size: 16px;
}
#bairro{
    border: solid 2px #9B6847;
    border-radius: 5px;
    width: 800px;
    height: 50px;
    margin-right: 4px;
    outline: none;
    padding: 2%;
    color: #9B6847;
    font-family: Merriweather;
}
#bairro::placeholder{
    color: #9B6847;
    font-size: 16px;
}
#procurar-link{
    text-decoration: none;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: #6AB1E4;
    font-family: Merriweather;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#procurar-link:hover{
    color: #9B6847;
    transition: 0.8s; 
}
