@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Background\ Adocly.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: button center;
    width: 100%;
    height: 100%;
    display: flex;
}
.login{
    box-shadow: 0 4px 8px 0 black;
    border: solid 1.4px black;
    border-radius: 10px;
    background-color: white;
    width: 310px;
    height: 350px;
    text-align: center;
    font-family: Merriweather;
    font-size: 30px;
    margin-top: 16.5%;
    margin-left: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;

}
.login h2{
    font-size: 30px;
    font-family: Merriweather;
    color: #9B6847;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.login h2 img{
    width: 100px;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
#email{
    border: solid 2px #9B6847;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-right: 4px;
    outline: none;
    padding: 2%;
    color: #9B6847;
    font-family: Merriweather;
}
#email::placeholder{
    color: #9B6847;
}
#senha{
    border: solid 2px #9B6847;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-right: 4px;
    outline: none;
    padding: 2%;
    color: #9B6847;
    font-family: Merriweather;
}
#senha::placeholder{
    color: #9B6847;
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-right: 4px;
    margin-top: 2%;
    color: white;
    background-color: #6AB1E4;
    font-family: Merriweather;
}
#login:hover{
    color: #9B6847;
    transition: 0.8s;
}
.login input{
    margin-top: 10px;
}
a{
    font-size: 15px;
    margin-top: 15px;
    flex-direction: row;
    color: #9B6847;
    font-family: Merriweather;
}
p{
    font-size: 9px;
    margin-top: 15px;
    flex-direction: row;
    color: #9B6847;
    font-family: Merriweather;
}
#cadastro{
    border: solid 2px #9B6847;
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    color: #9B6847;
    font-family: Merriweather;
    width: 44%;
    margin-left: 5px;
    margin-top: 15px;
}
#cadastro:hover{
    background-color: #6AB1E4;
    transition: 0.8s;
    color: white;
    border: none;
}

@media (min-width: 384px) and (max-width: 1000px){

    body{
        background-image: url(Background\ Adocly.png);
        background-size: cover;
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .login{
        box-shadow: 0 4px 8px 0 black;
        border: solid 1.4px black;
        border-radius: 10px;
        background-color: white;
        width: 370px;
        height: 390px;
        text-align: center;
        font-family: Merriweather;
        font-size: 30px;
        margin: auto;
        padding: 2%;
    
    }
    .login h2{
        font-size: 35px;
        font-family: Merriweather;
        color: #9B6847;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }
    .login h2 img{
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    h2{
        margin-right: 10px;
    }
    p{
        font-size: 10px;
        margin-top: 15px;
        flex-direction: row;
        color: #9B6847;
        font-family: Merriweather;
    }
}